.home h1 {
  font-size: 700%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 10%;
  left: 130px; 
  color: rgb(8, 82, 28);
}

.home p{
  font-size: 170%;
  font-family: 'Poppins';
  margin-top: 0;
  position: absolute;
  top: 50%; 
  left: 10%; 

}


.home img {
  position: absolute;
  top: 30%;
  right: 10%; 
  height: 45%;
  border-radius: 50vh;
}
 

.home button {
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 38%;
  position: absolute; 
  left: 10%; 
  background-color: #959595;
  
}


button:hover {
  border-color: rgb(18, 230, 75);
  background-color:rgb(18, 230, 75);
}



@media (prefers-color-scheme: light) {
  button {
    background-color: #d4d4d4d3;
  }
}
 

/* CSS da introducao.jsx*/

/* Títulos da introdução - pgn sobre*/

.titulo-header{
  font-size: 220%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 3%; 
  left:3%; 
  color: rgb(255, 255, 255);
 
}


/*divs branquelas*/

/*.container {

  background-color:  #efeded;  
  height: 50%;
  padding: 20%; 
  margin-top: 1vh;

}

.container2 {

  background-color:  #efeded;  
  height: 50%;
  padding: 18%; 
  margin-top: 50vh;
  
}


.container3 {

  background-color: #efeded; 
  height: 50%;
  margin-top: 150%;

}*/


.h1-introdu{
  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 20vh;
  position: absolute; 
  left: 7%; 
  color: rgb(26, 26, 26);

}


.introducao h2{
  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 170vh;
  position: absolute; 
  left: 7%;
  color: rgb(26, 26, 26);
}


/* styles.css */
.rotina-table {
  width: 70%;
  height: 50%; 
  left: 15%;
  position: absolute;
  font-size: 110%;
  font-family: Poppins;
  border-radius: 1rem;
  border-collapse: collapse;
  background-color: #fff;
  border-spacing: 1rem;
  text-align: center;
  animation: appear 1ms ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
  margin-top: 10vh;
}



/*h1 dos portfolios*/

.titulo1{

  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 300vh ;
  position: absolute; 
  left: 7%; 
  color: rgb(26, 26, 26);
}

/* Carrossel */
.carrossel{
  margin-top: 500vh;
  
  }
  
  
  .slick-slider {
    margin-left: 25%; 
    width: 50%; 
    padding-left: -2%;
  
  
    /* Estilos adicionais conforme necessário */
  }
  
  .slick-slide {
    text-align: center; 
    color: #0077b5;
  }
  
  .slick-slide svg {
    width: 70%; 
    height: auto; 
  
  
    background-color: #17d314; 
    border-radius: 100%; 
    display: block; 
    margin: 0 auto; 
  }
  
  
  .slick-prev,
  .slick-next {
  
    width: 6.5%; 
    height: 9%; 
    background-color: #000000; 
    border-radius: 50%; 
  }
  
  .slick-prev:hover,
  .slick-next:hover {
   
    background-color:rgb(18, 230, 75);
  }
  
    /* Fim do Carrossel */


.cabecalho {
  background-color: #363535;
  color: #fff;
  padding: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.cabecalho h1 {
  margin: 0;
}

 .botao-home {
  
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: Poppins;
  margin-top: -1.5%;
  position: absolute; 
  left: 50%; 
  background-color: #e6e4e4;
 
}

.botao-introducao {
  
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: Poppins;
  margin-top: -1.5%;
  position: absolute; 
  left: 60%; 
  background-color: #b3b0b0;
 
}


.botao-materias {

  border-radius: 100px;
  border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: Poppins;
    color: #fff;
    margin-top: -1.5%;
    position: absolute; 
    left: 70%; 
    background-color: #636060;
   
  }


  .botao-ppe {
    border-radius: 100px;
    border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: Poppins;
      color: #fff;
      margin-top: -1.5%;
      position: absolute; 
      left: 82%; 
      background-color: #292828;
    }

 .botao-contato {
  
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: Poppins;
  color: #fff;
  margin-top: -1.5%;
  position: absolute; 
  left: 90%; 
  background-color: #000000;
 
}

/* Esse body é pra ajeitar o cabeçalho - header */

body {
  margin: 0;
}

.botao-contato:hover, .botao-home:hover {
  border-color: rgb(18, 230, 75);
  background-color:rgb(18, 230, 75);
}


.sobre{
  font-size: 120%;
  font-family: 'Poppins';
  position: absolute;
  top: 99.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


.botao-flecha  {
  width: 4%; 
  height: 8%; 
  position: fixed; 
  bottom: 2%; 
  right: 3%; 
  cursor: pointer; 
  border-radius:50%;
  border: none;
  background-color: #b6b5b5;

}

.botao-flecha svg{
width: 60%;
height: auto;

}


/*Capa das matérias*/


.cards-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  font-family: 'Poppins';
}

.matematica-card,
.natureza-card,
.humanas-card,
.linguagens-card,
.tecnico-card,
.escolha-card {
  flex: 0 0 30%;
  margin: 0.75%; 
  background-color: #f5f5f5; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 1%; 
  text-align: center; 
  transition: transform 0.3s ease; 
  cursor: pointer; 
  width: 50%;
}

.matematica-card:hover,
.natureza-card:hover,
.humanas-card:hover,
.linguagens-card:hover,
.tecnico-card:hover,
.escolha-card:hover {
  transform: translateY(-2px); /* Efeito de levantamento ao passar o mouse */
}

.matematica-card h2,
.natureza-card h2,
.humanas-card h2,
.linguagens-card h2,
.tecnico-card h2,
.escolha-card h2 {
  font-size: 20px; 
  margin-bottom: 10px; 
}

.matematica-card  {
  width: 20%;
  height: 60%; 

}

.matematica-card img {
  width: 40%; 
  height: 60%; 
  border: 2px solid #ccc; 
  border-radius: 8px; 
}

.natureza-card  {
  width: 20%;
  height: 10%; 

}

.natureza-card img {
  width: 40.5%;
  height: auto; 
  border: 2px solid #ccc; 
  border-radius: 8px; 
}

.humanas-card  {
  width: 20%; 
  height: 10%; 

}

.humanas-card img {
  width: 37%; 
  height: auto; 
  border: 2px solid #ccc; 
  border-radius: 8px; 
}

.linguagens-card  {
  width: 20%; 
  height: 10%; 

}

.linguagens-card img {
  width: 38.5%; 
  height: auto; 
  border: 2px solid #ccc; 
  border-radius: 8px; 
}

.tecnico-card  {
  width: 20%; 
  height: 10%; 

}

.tecnico-card img {
  width: 37%; 
  height: auto; 
  border: 2px solid #ccc; 
  border-radius: 8px; 
}

.escolha-card  {
  width: 20%; 
  height: 10%; 

}

.escolha-card img {
  width: 39%; 
  height: auto; 
  border: 2px solid #ccc; 
  border-radius: 8px; 
}

/*Pgn de matematica */


.matematica h1 {
  font-size: 150%;
  font-family: 'Poppins';
  margin-top: 5%; 
  margin-left: 20%; 
  color: rgb(0, 0, 0);
}

.botao-arcosEangulos{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 27%;
  position: absolute; 
  left: 20%; 
  background-color: #959595;
}


.primeiroTrimestreMtm{

  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 25%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}


.paragrafo-av1Mtm{
  font-size: 100%;
  font-family: 'Poppins';
  transform: translateY(200%);
  position: absolute; 
  top: 50%; 
  left: 20%; 
}
/*video iframe mtm*/
.video-gabigol{

 transform: translateY(280%);
  margin-left: 60%; 
  border: none;
}

/*segundo trimestre mtm*/

.segundoTrimestreMtm{

  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 125%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}

.paragrafo-quebrandoAbanca{

  font-size: 100%;
  font-family: 'Poppins';
  transform: translateY(740%);
  position: absolute; 
  left: 20%; 

}

.botao-quebrandoAbanca{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  transform: translateY(2550%);
  position: absolute; 
  left: 20%; 
  background-color: #959595;

}

.paragrafo-floripoly{

  font-size: 100%;
  font-family: 'Poppins';
  top: 180%;
  position: absolute;
  left: 65%; 
  padding-bottom: 10%;

}

.botao-floripoly{

  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  transform: translateY(2550%);
  position: absolute; 
  left: 65%; 
  background-color: #959595;

}

.botao-floripoly:hover {
 background-color: rgb(18, 230, 75);
}

.terceiroTrimestreMtm{

  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 110%;
  position: absolute; 
  left: 7%; 
  color: rgb(26, 26, 26);
}


.botao-jujuba{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 135%;
  position: absolute; 
  left: 20%; 
  background-color: #959595;
}

.paragrafo-jujuba{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 130%;
  position: absolute; 
  left: 20%; 
  padding-bottom: 10%;

}

/*pgn natureza*/

.primeiroTrimestreNatureza {
  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 25%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}

.botao-organica{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 30%;
  position: absolute; 
  left: 20%; 
  background-color: #959595;
}

.paragrafo-organica{
  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 18%;
  position: absolute; 
  top: 45%; 
  left: 20%; 
}

.botao-evolucionismo{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 30%;
  position: absolute; 
  left: 45%; 
  background-color: #959595;
}

.paragrafo-evolucionismo{
  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 18%;
  position: absolute; 
  top: 45%; 
  left: 45%; 
}

.botao-circuitos{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 30%;
  position: absolute; 
  left: 73%; 
  background-color: #959595;
}

.paragrafo-circuitos{
  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 18%;
  position: absolute; 
  top: 45%; 
  left: 73%; 
}

.segundoTrimestreNatureza {
  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 125%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}


.botao-mapaMentalCircuitos{


  color: #000; 
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 80%;
  position: absolute; 
  left: 18%; 
  background-color: #959595;
}

.botao-mapaMentalCircuitos:hover {
  background-color:rgb(18, 230, 75);
 }

.paragrafo-mapaMentalCircuitos{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 18%;
  position: absolute; 
  top: 150%; 
  left: 18%; 
  padding-bottom: 10%;

}


 .botao-plastico{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 80%;
  position: absolute; 
  left: 45%; 
  background-color: #959595;

 }

 .paragrafo-plastico{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 18%;
  position: absolute; 
  top: 150%; 
  left: 45%; 

}

.terceiroTrimestreNatureza {
  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 110%;
  position: absolute; 
  left: 7%; 
  color: rgb(26, 26, 26);
}

.botao-desequilibrioAmbiental{


  color: #000; 
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 140%;
  position: absolute; 
  left: 15%; 
  background-color: #959595;
}

.botao-desequilibrioAmbiental:hover {
  background-color:rgb(18, 230, 75);
 }

.paragrafo-desequilibrioAmbiental{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 144%;
  position: absolute; 
  left: 15%; 
  padding-bottom: 10%;
}

.botao-planoEtdn{


  color: #000; 
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 140%;
  position: absolute; 
  left: 44%; 
  background-color: #959595;
}

.botao-planoEtdn:hover {
  background-color:rgb(18, 230, 75);
 }

.paragrafo-planoEtdn{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 144%;
  position: absolute; 
  left: 44%; 
  padding-bottom: 10%;
}

.botao-uranio{


  color: #000; 
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 140%;
  position: absolute; 
  left: 72%; 
  background-color: #959595;
}

.botao-uranio:hover {
  background-color:rgb(18, 230, 75);
 }

.paragrafo-uranio{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 144%;
  position: absolute; 
  left: 72%; 
  padding-bottom: 10%;
}

/*Atividades humanas*/


.primeiroTrimestreHumanas {
  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 25%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}

.segundoTrimestreHumanas{

  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 125%; 
  left: 7%; 
  color: rgb(26, 26, 26);

}


.botao-1917{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 30%;
  position: absolute; 
  left: 20%; 
  background-color: #959595;
}

.paragrafo-1917{
  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 13%;
  position: absolute; 
  top: 55%; 
  left: 20%; 
}

.botao-paises{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 30%;
  position: absolute; 
  left: 44%; 
  background-color: #959595;
}

.paragrafo-paises{
  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 13%;
  position: absolute; 
  top: 55%; 
  left: 44%; 
}

.botao-imperialismo{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 30%;
  position: absolute; 
  left: 72%; 
  background-color: #959595;
}

.botao-imperialismo:hover {
  background-color:rgb(18, 230, 75);
 }

.paragrafo-imperialismo{
  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 13%;
  position: absolute; 
  top: 55%; 
  left: 72%; 
}

.botao-totalitarismo{


  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 58%;
  position: absolute; 
  top: 50%; 
  left: 18%; 
  background-color: #959595;
}


.paragrafo-totalitarismo{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 18%;
  position: absolute; 
  top: 150%; 
  left: 18%;

}


 .botao-urbanismo{

  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 58%;
  position: absolute; 
  top: 50%; 
  left: 45%; 
  background-color: #959595;

 }

 .botao-urbanismo:hover {
  background-color:rgb(18, 230, 75);
 }

 .paragrafo-urbanismo{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 18%;
  position: absolute; 
  top: 150%; 
  left: 45%; 

}

.terceiroTrimestreHumanas{

  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 250%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}

.botao-novaCapital{

  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 58%;
  position: absolute; 
  top: 180%; 
  left: 17.5%; 
  background-color: #959595;

 }

 .botao-novaCapital:hover {
  background-color:rgb(18, 230, 75);
 }

 .paragrafo-novaCapital{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 18%;
  position: absolute; 
  top: 280%; 
  left: 15%; 
  padding-bottom: 10%;

}

.botao-coldWar{

  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 58%;
  position: absolute; 
  top: 180%; 
  left: 45%; 
  background-color: #959595;

 }

 .botao-coldWar:hover {
  background-color:rgb(18, 230, 75);
 }

 .paragrafo-coldWar{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 18%;
  position: absolute; 
  top: 280%; 
  left: 45%; 
  padding-bottom: 10%;

}



/*Atividade linguagens*/

.primeiroTrimestreLinguagens {
  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 25%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}

.segundoTrimestreLinguagens{

  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 125%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}


.botao-sobremim{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 30%;
  position: absolute; 
  left: 17%; 
  background-color: #959595;
}

.paragrafo-sobremim{
  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 13%;
  position: absolute; 
  top: 55%; 
  left: 17%; 


}


.botao-past{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 30%;
  position: absolute;
  left: 45%; 
  background-color: #959595;
}

.paragrafo-past{
  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 13%;
  position: absolute; 
  top: 55%; 
  left: 45%; 


}

.botao-modernismo{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 30%;
  position: absolute; 
  left: 70%; 
  background-color: #959595;
}

.paragrafo-modernismo{
  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 13%;
  position: absolute; 
  top: 55%; 
  left: 70%; 
}


.botao-notaRedacao{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 55%;
  top: 50%; 
  position: absolute; 
  left: 18%; 
  background-color: #959595;
}


.paragrafo-notaRedacao{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 15%;
  position: absolute; 
  top: 150%; 
  left: 18%; 

}

.terceiroTrimestreLinguagens{

  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 235%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}

.botao-notaRedacao-3tri{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 55%;
  top: 165%; 
  position: absolute; 
  left: 10%; 
  background-color: #959595;
}


.paragrafo-notaRedacao-3tri{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 15%;
  position: absolute; 
  top: 265%; 
  left: 10%; 
}

.botao-videoDaily{

  color: #000; 
  text-decoration: none;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 131.2%;
  position: absolute; 
  left: 42%; 
  background-color: #959595;
}

.botao-videoDaily:hover {
  background-color:rgb(18, 230, 75);
 }

.paragrafo-videoDaily{
  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 13%;
  position: absolute; 
  top: 270%; 
  left: 42%; 
  padding-bottom: 10%;
}

.botao-curriculo-atualizado{

  color: #000; 
  text-decoration: none;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 131%;
  position: absolute; 
  left: 71%; 
  background-color: #959595;
}

.botao-curriculo-atualizado:hover {
  background-color:rgb(18, 230, 75);
 }

.paragrafo-curriculo-atualizado{
  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 136.5%;
  position: absolute; 
  left: 71%; 
  padding-bottom: 10%;
}


/*pgn do técnico */


/*parte de modelagem de sistemas */

.modelagemDeSistemas  {

  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 25%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}

.botao-salaDeAulaInvertida{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 30%;
  position: absolute; 
  left: 11%; 
  background-color: #959595;

}

.paragrafo-salaDeAulaInvertida{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 18%;
  position: absolute; 
  top: 45%; 
  left: 10%; 

}

.botao-wireframe{

  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 30%;
  position: absolute; 
  left: 74%; 
  background-color: #959595;
}

.botao-wireframe:hover {
  background-color:rgb(18, 230, 75);
 }

 .paragrafo-wireframe{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 18%;
  position: absolute; 
  top: 45%; 
  left: 72.5%; 

}

.botao-regrasDeNegocio{

  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 30%;
  position: absolute; 
  left: 41%; 
  background-color: #959595;
}

.botao-regrasDeNegocio:hover {
  background-color:rgb(18, 230, 75);
 }

 .paragrafo-regrasDeNegocio{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 18%;
  position: absolute; 
  top: 45%; 
  left: 40%; 
}


.botao-modelagemConsultorio{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 78%;
  position: absolute; 
  left: 10%; 
  background-color: #959595;

}

.paragrafo-modelagemConsultorio{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 66%;
  position: absolute; 
  top: 45%; 
  left: 10%; 

}

/*parte de banco de dados */

.bancoDeDados{

  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 125%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}


.botao-listaModeloLogico{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 78%;
  position: absolute;
  left: 42%; 
  background-color: #959595;

}

.paragrafo-listaModeloLogico{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 66%;
  position: absolute; 
  top: 45%; 
  left: 40%; 
}

.botao-normalizacaoDeDados{

  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 78%;
  position: absolute; 
  left: 71%; 
  background-color: #959595;
}

 .paragrafo-normalizacaoDeDados{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 66%;
  position: absolute; 
  top: 45%; 
  left: 72%; 

 }

 .botao-bibliotecaBanco{
  background-color: #959595;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 105%;
  position: absolute;
  left: 10%;
}

.paragrafo-bibliotecaBanco{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 66%;
  position: absolute; 
  top: 102.5%; 
  left: 10%; 
}


.botao-join{
  background-color: #959595;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 105%;
  position: absolute;
  left: 43%;
}

.paragrafo-join{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 66%;
  position: absolute; 
  top: 102.5%; 
  left: 41%;
 
}

/*parte de desenvolvimento de sistemas */

.desenvolvimentoDeSistemas{

  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 280%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}

.botao-calculadoraDeHoras{

  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 150%;
  position: absolute; 
  left: 5%; 
  background-color: #959595;
}

.botao-calculadoraDeHoras:hover {
  background-color:rgb(18, 230, 75);
 }

 .paragrafo-calculadoraDeHoras{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 154%;
  position: absolute; 
  left: 5%; 
}

.botao-apiGithub{
  
  color: #000; 
  text-decoration: none;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 150%;
  position: absolute; 
  left: 31%; 
  background-color: #959595;
}


.botao-apiGithub:hover {
  background-color:rgb(18, 230, 75);
 }

 .paragrafo-apiGithub{

  font-size: 100%;
  font-family: 'Poppins'; 
  margin-top: 154%;
  position: absolute; 
  left: 31%; 

}

.botao-trabalhoApi{
  
  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 150%;
  position: absolute; 
  left: 56%; 
  background-color: #959595;
}

 .paragrafo-trabalhoApi{

  font-size: 100%;
  font-family: 'Poppins'; 
  margin-top: 154%;
  position: absolute; 
  left: 56%; 

}


.botao-projetoBiblioteca{
  
  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 150%;
  position: absolute; 
  left: 80%; 
  background-color: #959595;
}


.botao-projetoBiblioteca:hover {
  background-color:rgb(18, 230, 75);
 }

 .paragrafo-projetoBiblioteca{

  font-size: 100%;
  font-family: 'Poppins'; 
  margin-top: 154%;
  position: absolute; 
  left: 80%; 

}




/*parte de implantação de sistemas */

.implantacaoDeSistemas{


  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 390%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}

.botao-sistemaCms{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 205%;
  position: absolute; 
  left: 10%; 
  background-color: #959595;
}

.paragrafo-sistemaCms{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 209%;
  position: absolute; 
  left: 10%; 

}


/*parte de programacao de apps */

.programacaoDeApps{

  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 490%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}

.botao-express{

  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 255%;
  position: absolute; 
  left: 10%; 
  background-color: #959595;
}


.botao-express:hover {
  background-color:rgb(18, 230, 75);
 }

.paragrafo-express{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 260%;
  position: absolute; 
  left: 10%; 

}

.botao-tarefa02{

  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 255%;
  position: absolute; 
  left: 41%; 
  background-color: #959595;
}


.botao-tarefa02:hover {
  background-color:rgb(18, 230, 75);
 }

.paragrafo-tarefa02{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 260%;
  position: absolute; 
  left: 41%; 

}


/*parte de testes de sistemas */

.testesDeSistemas{

  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 610%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}

.botao-apiPaysandu{

  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 312.5%;
  position: absolute; 
  left: 10%; 
  background-color: #959595;
}


.botao-apiPaysandu:hover {
  background-color:rgb(18, 230, 75);
 }

.paragrafo-apiPaysandu{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 317%;
  position: absolute; 
  left: 10%; 
  padding-bottom: 10%;

}

/*pgn de escolha */

.escolhaPrimeiroTrimestre{
  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 25%; 
  left: 7%; 
  color: rgb(26, 26, 26);
}

.botao-naturezaElotromagnetismo{

  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 30%;
  position: absolute; 
  left: 20%; 
  background-color: #959595;

}

.paragrafo-naturezaEletromagnetismo{
  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 18%;
  position: absolute; 
  top: 45%; 
  left: 20%; 

}

.botao-planoEtdn-natu{


  color: #000; 
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 80%;
  position: absolute; 
  left: 20%; 
  background-color: #959595;
}

.botao-planoEtdn-natu:hover {
  background-color:rgb(18, 230, 75);
 }

.paragrafo-planoEtdn-natu{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 85%;
  position: absolute; 
  left: 20%; 
  padding-bottom: 10%;
}



/*pgn ppe*/

.ppe-segundoTrimestre{

  font-size: 600%;
  font-family: 'Lobster';
  margin-top: 0;
  position: absolute; 
  top: 25%; 
  left: 7%; 
  color: rgb(26, 26, 26);
  
}

.botao-certificadoLinguagensPpe{

  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 29%;
  position: absolute; 
  left: 18%; 
  background-color: #959595;
}

.botao-certificadoLinguagensPpe:hover {
  background-color: rgb(18, 230, 75);
 }

.paragrafo-certificadoLinguagensPpe{

  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 18%;
  position: absolute; 
  top: 45%; 
  left: 18%; 

}


.botao-certificadoNaturezaPpe{

  color: #000; 
  text-decoration: none; 
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 100%;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 29%;
  position: absolute; 
  left: 65%; 
  background-color: #959595;
}

.botao-certificadoNaturezaPpe:hover {
  background-color: rgb(18, 230, 75);
 }


.paragrafo-certificadoNaturezaPpe{
  font-size: 100%;
  font-family: 'Poppins';
  margin-top: 18%;
  position: absolute; 
  top: 45%; 
  left: 65%; 
}


.loader {
  width: 112px;
  height: 112px;
  margin-top: -8%;
  margin-left:4%;
}

.box1,
.box2,
.box3 {
  border: 16px solid #000000;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.box1 {
  width: 112px;
  height: 48px;
  margin-top: 64px;
  margin-left: 0px;
  animation: abox1 4s 1s forwards ease-in-out infinite;
}

.box2 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 0px;
  animation: abox2 4s 1s forwards ease-in-out infinite;
}

.box3 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 64px;
  animation: abox3 4s 1s forwards ease-in-out infinite;
}

@keyframes abox1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  75% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 0px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes abox2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  50% {
    width: 112px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
}

@keyframes abox3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  25% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 64px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}



.contato h1{
 font-family: 'Poppins';
 margin-left: 15%;
 margin-top: 20%;

}


.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 15px #00000027;
  padding: 15px 10px;
  border-radius: 5em;
  margin-top: -7%;
  margin-left: 55%;
  width: 30%;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 70px;
  border-radius: 50%;
  margin-top: 0%;
  margin-right: 10%;
  background-color: #fff;
  box-shadow: 0px 0px 6px #00000027;
  transition: 0.3s;
}



.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;

}


.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;

}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}




.cubes {
  position: absolute;
  top: 60%;
  left: 6%;
  transform-style: preserve-3d;
}

.loop {
  transform: rotateX(-35deg) rotateY(-45deg) translateZ(1.5625em);
}

@keyframes s {
  to {
    transform: scale3d(0.2, 0.2, 0.2);
  }
}

.item {
  margin: -1.5625em;
  width: 3.125em;
  height: 3.125em;
  transform-origin: 50% 50% -1.5625em;
  box-shadow: 0 0 0.125em currentColor;
  background: currentColor;
  animation: s 0.6s cubic-bezier(0.45, 0.03, 0.51, 0.95) infinite alternate;
}

.item:before,
.item:after {
  position: absolute;
  width: inherit;
  height: inherit;
  transform-origin: 0 100%;
  box-shadow: inherit;
  background: currentColor;
  content: "";
}

.item:before {
  bottom: 100%;
  transform: rotateX(90deg);
}

.item:after {
  left: 100%;
  transform: rotateY(90deg);
}

.item:nth-child(1) {
  margin-top: 6.25em;
  color: #fe1e52;
  animation-delay: -1.2s;
}

.item:nth-child(1):before {
  color: #ff6488;
}

.item:nth-child(1):after {
  color: #ff416d;
}

.item:nth-child(2) {
  margin-top: 3.125em;
  color: #fe4252;
  animation-delay: -1s;
}

.item:nth-child(2):before {
  color: #ff8892;
}

.item:nth-child(2):after {
  color: #ff6572;
}

.item:nth-child(3) {
  margin-top: 0em;
  color: #fe6553;
  animation-delay: -0.8s;
}

.item:nth-child(3):before {
  color: #ffa499;
}

.item:nth-child(3):after {
  color: #ff8476;
}

.item:nth-child(4) {
  margin-top: -3.125em;
  color: #fe8953;
  animation-delay: -0.6s;
}

.item:nth-child(4):before {
  color: #ffb999;
}

.item:nth-child(4):after {
  color: #ffa176;
}

.item:nth-child(5) {
  margin-top: -6.25em;
  color: #feac54;
  animation-delay: -0.4s;
}

.item:nth-child(5):before {
  color: #ffce9a;
}

.item:nth-child(5):after {
  color: #ffbd77;
}

.item:nth-child(6) {
  margin-top: -9.375em;
  color: #fed054;
  animation-delay: -0.2s;
}

.item:nth-child(6):before {
  color: #ffe49a;
}

.item:nth-child(6):after {
  color: #ffda77;
}

/*Página PPE*/

.ppe h1 {
  font-size: 150%;
  font-family: 'Poppins';
  margin-top: 5%; /* Colocado no topo */
  margin-left: 20%; /* Colocado no lado esquerdo */
  color: rgb(0, 0, 0);
}

